// Body
$body-bg: #f8fafc;
$primary-500 :#f8fafc;

// Typography
$font-family-sans-serif: 'Nunito', sans-serif;
$font-size-base: 0.9rem;
$line-height-base: 1.6;

$placeholder-opacity-max:           .2;
$placeholder-opacity-min:           .1;
